*{
  padding:0;
  margin:0;
}
#main{
  max-width: 1200px;
  margin:0 auto;
}
header{
  background:#E3E4E6;
}
header .header{
  padding: 34px 0px 15px 0px;
}
section {
  background:#F3F3F3;
}
.step{
  background:#660099;
}
.step  span , .titre span{
  font-size: 14px;
  font-weight: 400;
  display: list-item;
  color:#fff;
}
.step ul li span{
  background: #fff;
  color:#660099;
  padding: 1px 6px;
  text-align: center;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 700;
}
.step ul li .none{
  color:#999999;
  background:#660099;
  border: 1px solid #999999;
}
.step .n{
  color:#999999;
}
.left .content{
  font-size: 12px;
}
.left .contentt{
  padding:0 40px;
}
.titre{
  background:#999999;
}
.billing label{
  font-weight:700;
}
.form-control{
  border: 1px solid #660099;
}
.billing form span{
  font-size: 10px;
}
.billing .btn button{
  FONT-SIZE: 15px;
  BACKGROUND: #660099;
  padding:4px 15px;
  border:none;
  COLOR: #ffffff;
}
.free span{
  font-size: 12px;
  color:#CCCCCC;
}
.left h3{
  color:#336;
  font-size: 18px;
}
footer{
  background:#E3E4E6;
}

footer .navv ul li , .footer-right span , footer p{
 font-size: 11px;
 color:#666;
}
footer .footer-left{
  border-right: 1px solid #CCCCCC;
}
footer .bottom ul li{
  display: inline-flex;
  border-left: 1px solid #666;
  font-size: 11px;
  color:#666;
  padding:0  5px;
}
.error{
  color:red;
  font-size: 11px;
}
@media(max-width:750px){
  header , section , footer , section form{
    padding:0 10px;
  }
  footer .footer-left{
    border-right: none;
  }
  .step span{
    font-size: 10px;
  }
  .left .contentt{
    padding:0;
  }
}